body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    color: #fff;
    font-size: 30px;
    display: inline-block;
}

.container1 {
    background-color: #ffa8af;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

header, footer {
    background-color: #9fc8c8;
    display: inline-block;
    width: 850px ;
    padding: 20px 0px;
    margin: 25px;
}

.container2 {
    display: inline-block;
    width: 850px;
}

aside {
    background-color: #7fb5b5;
    display: inline-block;
    padding: 190px 81px;
    margin-right: 25px;
    vertical-align: top;
}

article {
    display: inline-block;
    background-color: #ff808a;
    text-align: center;
    width: 570px;
    height: 413px;
    vertical-align: middle;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}

.menu li {
    display: inline-block;
    margin-right: -5px;
}

.menu a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    border: 1px solid #555;
    display: inline-block;
    padding: 10px 12px;
    background-color: #eee;
    border-right: 0;
    font-size: 10px;
}

.menu li:first-child a {
    border-radius: 20px 0px 0px 20px;
}

.menu li:last-child a {
    border-right: 1px solid #555;
    border-radius: 0px 20px 20px 0px;
}

.menu a:hover {
    color: #fff;
    background-color: #555;
}

.image {
    display: inline-block;
    background-color: lightgray;
    padding: 60px 35px;
    margin-right: 17px;
    margin-top: 20px;
}

.image:last-child {
    margin-right: 0;
}

article > h2 {
    display: inline-block;
    margin-top: 130px;
}